h1 {
    font-size: 46px;
    font-weight: 900;
    font-family: 'Acme', sans-serif;
}


.title{
    text-align: center;
}

.img{
    text-align: center;
}

#cat{
    color: #666666;
    font-size: 22px;
    font-family: 'Acme', sans-serif;
}


#tit{
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#cont{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;

}
#aut{
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-weight: 600;
    font-size: 15px;
}

#auto{
    font-family: serif;
    color: #666666;
    font-weight: 400;
}

.fa-chevron-up{
    position: fixed;
    width: 5px;
    height: 5px;
    bottom: 70px;
    right: 50px;
    color: #D33A2C;
}



p {
    margin: 2px;
    padding: 3px;
}