<!-- Footer -->
<footer id="end" class="page-footer font-small cyan darken-3">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">
  
            <!-- Facebook -->
           
          <a target="_blank" href="https://github.com/aaronbuthelo" class="fb-ic">
            <i class="fa fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>

          <a target="_blank" href="skype:aaronbuthelo?call" class="tw-ic">
            <i class="fa fa-skype fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          
          <a target="_blank" href="callto://+9789963589" class="gplus-ic">
            <i class="fa fa-phone fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
         
          <a target="_blank" href="https://www.linkedin.com/in/aaronbuthelo/" class="li-ic">
            <i class="fa fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
         
          <a target="_blank" href="mailto:aaron.buthelo1@gmail.com" class="ins-ic">
            <i class="fa fa-envelope fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
    
          <a target="_blank" href="http://abuthelo.surge.sh/" class="pin-ic">
            <i class="fa fa-globe fa-lg white-text fa-2x"> </i>
          </a>
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Made with <span style="font-size:200%;color:red;">&hearts;</span> 
      by
      <a href="/"> Aaron Raymond Buthelo</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
